<!DOCTYPE html>
{% assign theme = site.data.themes[site.ui_theme] %}
<html lang="en">
  {% include head-blog.html %}
  <body>
    {% include nav.html %}
    <div class="container">
      <div class="card border-0">
        <div class="card-body">
          {{ content }}
          {% if page.last-updated %}
            <p class="page-updated"><small>This page was last updated on {{ page.last-updated | date: "%-d %B %Y" }}.</small></p>
          {% endif %}
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
