
.DS_Store
/CoverLetters
ResearchPlan/ResearchPlan.synctex.gz
ResearchPlan/ResearchPlan.out
ResearchPlan/ResearchPlan.log
ResearchPlan/ResearchPlan.fls
ResearchPlan/ResearchPlan.fdb_latexmk
ResearchPlan/ResearchPlan.aux
/Publications
/DEI
/ListOfReferences
/Website/vendor/
